:root {
  --background-900: #1a1e30;
  --background-700: #202738;
  --primary: #d3fff3;
}

body {
  font-family: 'Lexend', sans-serif;
  background-color: var(--background-900);
  color: #fff;
}

/* Components */
button {
  background-color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 4;
}

button:hover {
  background: hsl(163.63636363636363deg 100% 81.37254901960785%);
  border: 2px solid hsl(163.63636363636363deg 100% 81.37254901960785%);
  border-radius: 0;
}

button:disabled {
  background-color: hsl(163.63636363636363deg 15% 91.37254901960785%);
  border-radius: 0;
  color: white;
}

/* base */
.base {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#main-container {
  background-color: var(--background-700);
  border-radius: 25px;
  padding: 1rem;
}
