@import url('./reset.css');
@import url('./components.css');

:root {
  --background-900: #1a1e30;
  --background-700: #202738;
  --primary: #d3fff3;
}

body {
  font-family: 'Lexend', sans-serif;
  background-color: var(--background-900);
  color: #fff;
}

/* base */
.base {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#main-container {
  background-color: var(--background-700);
  border-radius: 25px;
  padding: 1rem;
}
